name: run build

on:
   pull_request:
      branches:
         - 'main'

jobs:
   build:
      runs-on: ${{ matrix.os }}
      strategy:
         matrix:
            os: [ubuntu-latest, macOS-latest, windows-latest]
      steps:
         - uses: actions/checkout@v4

         - uses: pnpm/action-setup@v4
           with:
              version: 8.6.7

         - name: install node
           uses: actions/setup-node@v4
           with:
              node-version: 18.16.1
              cache: 'pnpm'

         - run: pnpm install --frozen-lockfile

         - name: build package
           run: pnpm build
