name: run linters

on:
   pull_request:
      branches:
         - 'main'

jobs:
   lint:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4

         - uses: pnpm/action-setup@v4
           with:
              version: 8.6.7

         - name: install node
           uses: actions/setup-node@v4
           with:
              node-version: 24
              cache: 'pnpm'

         - run: pnpm install --frozen-lockfile

         - name: run linters
           run: pnpm lint
